@use '../abstracts/variables' as v;

.project-card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    position: relative;
    img {
        display: flex;
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        z-index: 0;

    }
    .card-overlay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: v.$bwSpaceThin;
        background-color: v.$bwPrimaryTrans;
        color: v.$bwSecondary;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}