@use '../abstracts/variables' as v;

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: v.$bwSpaceThin;
    color: v.$bwPrimary;
    .container {
        width: v.$bwPageWidth;
        .main-logo {
            img {
                width: 380px;
                height: auto;
            }
        }

        .menu {
            display: inline-flex;
            list-style: none;
            text-transform: uppercase;
            font-weight: v.$bwLight;
            gap: v.$bwSpaceMedium;
            li {
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: v.$bwSecondary;
                    }
                }
            }
        }
    }
}