@use '../abstracts/variables' as v;

.home-hero {
    background-color: v.$bwPrimary;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-block: v.$bwSpaceRegular;
    position: relative;
    padding-top: 50vh;

    .title-block {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: v.$bwBackgroundTrans;
        color: v.$bwPrimary;
        padding-right: v.$bwSpaceThick;
        padding-block: v.$bwSpaceRegular;
        clip-path: polygon(0 0, calc(100% - v.$bwSpaceThick) 0, 100% 100%, 0% 100%);

        @media screen and (max-width: 980px) {
            width: 75%;
        }

        @media screen and (max-width: 680px) {
            width: 90%;
        }
        h1 {
            width: calc((v.$bwPageWidth / 2) - v.$bwSpaceThick);
            margin-left: auto;
            padding-left: v.$bwSpaceRegular;
            text-wrap: wrap;
        }
    }
}