@use '../abstracts/variables' as v;
.single-project-section {
    padding-block: v.$bwSpaceRegular v.$bwSpaceMedium;
    color: v.$bwPrimary;
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: v.$bwPageWidth;
        gap: v.$bwSpaceMedium;
    }
}

.single-project-additional-info {
    padding-block: v.$bwSpaceRegular;
}

.btn {
    margin-left: auto;
}
