@use '../abstracts/variables' as v;

html {
    scroll-behavior: smooth;
    font-family: v.$bwBody;
    font-weight: regular;
}

h1, h2, h3, h4, h5, h6 {
    font-family: v.$bwDisplay;
    font-weight: v.$bwLight;
    color: v.$bwPrimary;
}

h2 {
    font-size: 2.5rem;
}

button {
    all: unset;
}

.invisible-text {
    display: none;
}

.container {
    margin-inline: auto;
    padding-inline: v.$bwSpaceRegular;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    max-width: 100%;
}